body
{	
	font-family: 'Alef', Arial, Helvetica, sans-serif;	
	font-size: 87.5%;
	background: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
}

/*#radial-center {
  /* fallback 
  background-color: #2F2727;
  background-image: url(images/radial_bg.png);
  background-position: center center;
  background-repeat: no-repeat;

  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. 
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727));

  /* Safari 5.1+, Chrome 10+ 
  background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);

  /* Firefox 3.6+ 
  background: -moz-radial-gradient(circle, #1a82f7, #2F2727);

  /* IE 10 
  background: -ms-radial-gradient(circle, #1a82f7, #2F2727);

  /* Opera couldn't do radial gradients, then at some point they started supporting the -webkit- syntax, how it kinda does but it's kinda broken (doesn't do sizing) 
}*/

article, aside, figure, footer, header, nav, section
{
	display: block;
}

h3
{
	font-size: 70%;
	margin-top: 50px;
}


#pageContainer
{
	margin: 0px auto;
	width: 974px;
}

#top img
{
    width: 974px;
}

#contentContainer
{
	margin:0px;	
	width: 974px;
}


#leftside
{
	width: 180px;
	height: 600px;
	float: left;	
	margin-top: 10px;	
	border: 1px solid #D4D4D4;
}

#leftside img
{
	width: 180px;	
	border: 1px solid #D4D4D4;
}

section
{
	
	width: 600px;
	height: 600px;
	float: left;
	margin-top: 10px;
	text-align: center;
	border: 1px solid #D4D4D4;
	position: relative;
	left: 4px;
}

h1
{
	text-align: center;
	
}

#rightside
{	
	width: 180px;
	height: 600px;
	float: right;
	margin-top: 10px;
	border: 1px solid #D4D4D4;	
}

#rightside p
{
	text-align: left;
	margin-top: 200px;
}

#rightside li
{
	list-style-type: none;
}

nav a:link
{
	color:red
}

#rightside a:hover 
{
	color: red;
	font-size:20px;
	cursor:pointer;	
}

#audioplayer
{
	width: 180px;
}

footer  
{
	text-align: center;
	margin-top: 20px;
	font-size: 83%;
	
}

/**** Media Query ****/

@media screen and (max-width: 640px)
{
	#audioplayer
	{
		width:50%;
	}
	
}