body
{
	background-color: silver;	
	font-family: 'Alef', Arial, Helvetica, sans-serif;	
	font-size: 87.5%;	
}

article, aside, figure, footer, header, nav, section
{
	display: block;
}

h3
{
	font-size: 70%;
	margin-top: 50px;
}


#pageContainer
{
	margin: 0px auto;
	width: 974px;
}

#top img
{
    width: 974px;
}

#contentContainer
{
	margin:0px;	
	width: 974px;
}


#leftside
{
	width: 180px;
	height: 600px;
	float: left;	
	margin-top: 10px;	
	border: 1px solid #D4D4D4;
}

#leftside img
{
	width: 180px;	
	border: 1px solid #D4D4D4;
}

section
{
	
	width: 600px;
	height: 600px;
	float: left;
	margin-top: 10px;
	text-align: center;
	border: 1px solid #D4D4D4;
	position: relative;
	left: 4px;
}

h1
{
	text-align: center;
	
}

#rightside
{	
	width: 180px;
	height: 600px;
	float: right;
	margin-top: 10px;
	border: 1px solid #D4D4D4;	
}

#rightside p
{
	text-align: left;
	margin-top: 200px;
}

#rightside li
{
	list-style-type: none;
}

nav a:link
{
	color:red
}

#rightside a:hover 
{
	color: red;
	font-size:20px;
	cursor:pointer;	
}

#audioplayer
{
	width: 180px;
}

footer  
{
	text-align: center;
	margin-top: 20px;
	font-size: 83%;
	
}

/**** Media Query ****/

@media screen and (max-width: 640px)
{
	#audioplayer
	{
		width:50%;
	}
	
}